body {
  font-family: Roboto, sans-serif;
  background-color: #1F2937;
  margin: 0;
  padding: 0;
}

.main {
  flex-direction: column;
}


.quote-section {
  background-color: #e5e7eb;
}

ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
}

.header {
  /* border: 1px solid white; */
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 800;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 64px;
}

.hero-main {
  width: 500px;
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-right: 48px;
}

.hero-sub {
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
}

.signup {
  background-color: #3882f6;
  color: white;
}

img {
  /* max-width: 100%; */
  width: 500px;
}

.hero {
  padding-left: 16px;
  padding-right: 16px;
}

.info {
  margin: 0;
  background-color: #F9FAF8;
  text-align: center;
}

.info-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  padding: 36px;
  margin-top: 64px;
}

.info-container {
  display: flex;
  gap: 52px;
  justify-content: center;
  flex-wrap: wrap;
}

.info-2 {
  max-width: 200px;
  padding-bottom: 128px;
}

.info-image {
  width: 200px;
  border: 5px solid #3882f6;
  border-radius: 5%;
}

.text {
  font-size: 18px;
  color: #1F2937;
}

.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 128px;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-name {
  color: #1F2937;
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}